@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap");
:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Satisfy", cursive;
  --color-black: #333333;
  --color-white: #ffffff;
  --color-primary: #dc9b01;
  --color-secondary: #504f4d;
}
.HeaderNav {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-secondary);
}
.HeaderLogo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.HeaderLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.HeaderLogo h1 {
  color: var(--color-primary);
  font-family: var(--secondary-font);
  font-size: 60px;
  font-weight: 100;
}
@media screen and (max-width: 56.25em) {
  .HeaderNavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.HeaderNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HeaderNavList a {
  text-decoration: none;
  color: #dc9b01;
}

.HeaderNavList {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 2rem;
  text-transform: capitalize;
}

.header-ctas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header-ctas .First-btn {
  background-color: #dc9b01;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
}
.header-ctas .Second-btn {
  background-color: #dc9b01;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 30px;
}
