
:root {
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Satisfy", cursive;
    --color-black: #333333;
    --color-white: #ffffff;
    --color-primary: #dc9b01;
    --color-secondary: #504f4d;
  }
  .Destination{
    background-color: black;
    padding: 2rem;
    gap: 3rem;
}
.destination-baner{
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    border: #dc9b01 2px solid;
    padding: 2rem;
}
.Banner-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dc9b01;
}
.DestinationsHeading{
    font-family: var(--secondary-font);
    font-weight: 100;
    font-size: 80px;
}
.dest-pic{
    width: 40%;
}
.dest-pic img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.Places{
    margin-top: 2rem;
}
.Places-container{
    border: #dc9b01 solid 2px;
    gap: 2rem;
    display: flex;
    margin-bottom: 2rem;
    padding: 2rem;
    align-items: center;
}
.Places-image img{
    border-radius: 30px;
}
.Places-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Places-details h1{
    color: #dc9b01;
    text-transform: capitalize;
}
.Places-details p{
    color: #ffffff;
    text-align: center;
}
.Places-details h2{
    color: #ffffff;
}
.Places-details h3{
    color: #ffffff;
}
.Button{
    background-color: #dc9b01;
    padding: 10px 20px;
    border-radius: 20px;
}
